<div class="container scan-pass">
    <div class="row">
        <div class="scan-pass__title">CheckIn</div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 scan-pass__image">
        <!-- https://media.flaticon.com/license/license.pdf?_ga=2.179625383.261635398.1616455101-1701073365.1616455101 -->
            <img src="/modules/custom/qr_code/images/phone-scan.png" alt="Smartphone with QR code" />
        </div>
        <div class="col-12 col-lg-6">
            <div class="scan-pass__info">
                <div class="scan-pass__info__title">How to scan a pass?</div>
                <div class="scan-pass__info__content">
                    To scan an attendee's Access Pass, please:
                    
                    <ol>
                        <li>Use a device that has a camera.</li>
                        <li>Is capable of scanning and reading a QR code.</li>
                        <li>Is capable of connecting to the Internet</li>
                        <li>You're logged into your account.</li>
                    </ol>

                    After scanning a pass, you'll be redirected to a page that will display
                    information based on the user and the event. 
                </div>
            </div>
            <div class="scan-pass__faq">
                Got questions? Please
                <a href="/mypass">Consult the FAQ</a>
                if necessary.
            </div>
        </div>
    </div>
</div>