
<div class="container scan-pass">
    <div class="row">
        <div class="scan-pass__title">CheckIn</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 scan-pass__qr_col">
            <img src="/modules/custom/qr_code/images/checkin-qr-icon.png" alt="QR Code icon" />
        </div>
        <div class="col-12 col-md-6">
            <div class="scan-pass__event">
                <div class="scan-pass__event__title">Event:</div>
                <div class="scan-pass__event__value">{{ event }}</div>
            </div>

            {% if event_date %}
            <div class="scan-pass__event-date">
                <div class="scan-pass__event-date__title">Event Date:</div>
                <div class="scan-pass__event-date__value">{{ event_date }}</div>
            </div>
            {% endif %}

            {% if event_time %}
            <div class="scan-pass__event-time">
                <div class="scan-pass__event-time__title">Event Time:</div>
                <div class="scan-pass__event-time__value">{{ event_time }}</div>
            </div>
            {% endif %}

            <div class="scan-pass__snap">
                <div class="scan-pass__snap__title">SNAP:</div>
                <div class="scan-pass__snap__value">{{ snap }}</div>
            </div>

            <div class="scan-pass__faq">
                Got questions? Please
                <a href="/mypass">Consult the FAQ</a>
                if necessary.
            </div>
        </div>
    </div>
</div>