
<div class="d-flex flex-column justify-content-center align-items-center scan-pass">
    <div class="p-2 scan-pass__title">CheckIn</div>
    <div class="p-2 scan-pass__pass-info">
        <div class="scan-pass__pass-info__event">
            <div class="scan-pass__pass-info__event__title">Event:</div>
            <div class="scan-pass__pass-info__event__value">{{ event }}</div>
        </div>
        <div class="scan-pass__pass-info__snap">
            <div class="scan-pass__pass-info__snap__title">SNAP:</div>
            <div class="scan-pass__pass-info__snap__value">{{ snap }}</div>
        </div>
    </div>
</div>