
<div class="container scan-pass-error">
    <div class="row">
        <div class="scan-pass-error__title">Error Scanning Pass</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 scan-pass-error__qr_col">
            <img src="/modules/custom/qr_code/images/cancel.png" alt="Red circle with white x mark inside." />
        </div>
        <div class="col-12 col-md-6">
            <div class="scan-pass-error__error-info">
                <div class="scan-pass-error__error-info__title">Uh oh! Something went wrong!</div>
                <div class="scan-pass-error__error-info__value">
                    The pass scanned was structured incorrectly. Please consult with the Organization of the pass 
                    or request the access of another pass.
                </div>
            </div>
            <div class="scan-pass-error__faq">
                Got questions? Please
                <a href="/mypass">Consult the FAQ</a>
                if necessary.
            </div>
        </div>
    </div>
</div>