
<h2>{{ title }}</h2>

<div class="graph-container">
	<div class="graph-cell">
		<h4>Generated Passes vs. Scanned Passes - All Events (Bar Chart)</h4>	
		<p>Bar Chart Comparison of Generated to Scanned Passes for ALL Events</p>
		<canvas id="bar-all-events"></canvas>
	</div>

	<div class="graph-cell">
  		<h4>Generated Passes vs. Scanned Passes - All Events (Pie Chart)</h4>	
		<p>Pie Chart Comparison of Generated to Scanned Passes for ALL Events</p>
		<canvas id="pie-all-events"></canvas>
	</div>
	<br>
	
	<div class="graph-cell">
		<h4>Generated Passes vs. Scanned Passes - General Events (Bar Chart)</h4>	
		<p>Bar Chart Comparison of Generated to Scanned Passes for General Events</p>
		<canvas id="bar-general-events"></canvas>
	</div>

	<div class="graph-cell">
  		<h4>Generated Passes vs. Scanned Passes - General Events (Pie Chart)</h4>	
		<p>Pie Chart Comparison of Generated to Scanned Passes for General Events</p>
		<canvas id="pie-general-events"></canvas>
	</div>
	<br>

	<div class="graph-cell">
		<h4>Generated Passes vs. Attendees - All Events (Bar Chart)</h4>	
		<p>Bar Chart Comaprison of Generated Passes to Number of Attendees</p>
		<canvas id="bar-generated-attendees"></canvas>
	</div>

	<div class="graph-cell">
  		<h4>Generated Passes vs. Attendees - All Events (Pie Chart)</h4>	
		<p>Pie Chart Comaprison of Generated Passes to Number of Attendees</p>
		<canvas id="pie-generated-attendees"></canvas>
	</div>
	<br>
	
	<div class="graph-cell">
		<h4>Scanned Passes vs. Attendees - All Events (Bar Chart)</h4>	
		<p>Bar Chart Comaprison of Scanned Passes to Number of Attendees</p>
		<canvas id="bar-scanned-attendees"></canvas>
	</div>

	<div class="graph-cell">
  		<h4>Scanned Passes vs. Attendees - All Events (Pie Chart)</h4>	
		<p>Pie Chart Comaprison of Scanned Passes to Number of Attendees</p>
		<canvas id="pie-scanned-attendees"></canvas>
	</div>
	<br>

	<div class="graph-cell">
		<h4>Zip Code vs. Attendees - All Events (Bar Chart)</h4>	
		<p>Bar Chart Comparison of Number of Attendees to their Zip Codes</p>
		<canvas id="bar-zipcode-attendees"></canvas>
	</div>

	<div class="graph-cell">
  		<h4>Zip Code vs. Attendees - All Events (Pie Chart)</h4>	
		<p>Pie Chart Comparison of Number of Attendees to their Zip Codes</p>
		<canvas id="pie-zipcode-attendees"></canvas>
	</div>
	<br>


</div>

