
<div class="container graph-container">
	<div class="row page-title-row">
		<div class="page-title">{{ title }}</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="graph-title">Generated Passes vs. Scanned Passes - All Events (Bar Chart)</div>	
			<canvas id="bar-all-events"></canvas>
		</div>
		<div class="col-12 col-md-6">
			<div class="graph-title">Generated Passes vs. Scanned Passes - All Events (Pie Chart)</div>	
			<canvas id="pie-all-events"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="graph-title">Generated Passes vs. Scanned Passes - General Events (Bar Chart)</div>	
			<canvas id="bar-general-events"></canvas>
		</div>
		<div class="col-12 col-md-6">
			<div class="graph-title">Generated Passes vs. Scanned Passes - General Events (Pie Chart)</div>	
			<canvas id="pie-general-events"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="graph-title">Generated Passes vs. Attendees - All Events (Bar Chart)</div>	
			<canvas id="bar-generated-attendees"></canvas>
		</div>
		<div class="col-12 col-md-6">
			<div class="graph-title">Generated Passes vs. Attendees - All Events (Pie Chart)</div>	
			<canvas id="pie-generated-attendees"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="graph-title">Scanned Passes vs. Attendees - All Events (Bar Chart)</div>	
			<canvas id="bar-scanned-attendees"></canvas>
		</div>
		<div class="col-12 col-md-6">
			<div class="graph-title">Scanned Passes vs. Attendees - All Events (Pie Chart)</div>	
			<canvas id="pie-scanned-attendees"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="graph-title">Zip Code vs. Attendees - All Events (Bar Chart)</div>	
			<canvas id="bar-zipcode-attendees"></canvas>
		</div>
		<div class="col-12 col-md-6">
			<div class="graph-title">Zip Code vs. Attendees - All Events (Pie Chart)</div>	
			<canvas id="pie-zipcode-attendees"></canvas>
		</div>
	</div>
</div>
