
<div class="container graph-container">
	<div class="row page-title-row">
		<div class="page-title">{{ title }}</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="graph-title">Generated Passes vs. Scanned Passes - All Events</div>	
			<canvas id="pie-all-events"></canvas>
		</div>
		<div class="col-12 col-md-6">
			<div class="graph-title">Generated Passes vs. Scanned Passes - General Events</div>	
			<canvas id="pie-general-events"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="graph-title">Zip Code vs. Attendees - All Events</div>	
			<canvas id="bar-zipcode-attendees"></canvas>
		</div>
		<div class="col-12 col-md-6">
			<div class="graph-title">Zip Code vs. Attendees - General Events</div>	
			<canvas id="bar-zipcode-general-attendees"></canvas>
		</div>
	</div>
</div>
