
<h2>{{ title }}</h2>

<div class="graph-container">
	<div class="graph-cell">
		<h4>Bar Graph</h4>	
		<p>Test Bar Graph</p>
		<canvas id="bar"></canvas>
	</div>

	<div class="graph-cell">
  		<h4>Pie Graph</h4>
		<p>Test Pie Graph</p>
		<canvas id="pie"></canvas>
	</div>
	{# <script>
		//var labelset = []
		var dataset = []
		var labelset = ["Set 1", "Set 2", " Set 3"]

		{% for item in values %}
			dataset.push({{ item.val }}) 
		{% endfor %}


		barGraph(dataset, labelset)
		pieGraph(dataset, labelset)
	</script> #}

{# 	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
	<script>
		function randomColor() {
			var randomColor = Math.floor(Math.random()*16777215).toString(16);
			return randomColor
		}

		// Function to Create a Bar Graph
		//function barGraph(dataset, labelset) {
		function barGraph() {	
			//colors = []
			//for(var i = 0; i < dataset.length; i++) {
			//	var newColor = randomColor()
			//	colors.push(newColor);
			//}
			let ctx = document.getElementById('bar');
			let barChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: ["Set 1", "Set 2", " Set 3"],
					datasets: [{
						label: 'Value',
						backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
						data: [48, 33, 61]
					}]
				},
				options: {
					legend: { display: false },
					title: {
					display: true,
					text: 'Proof of Concept Bar Chart'
					}
				}
			});
		}

		// Function to Create a Pie Graph
		//function pieGraph(dataset, labelset) {
		function pieGraph() {
			//colors = []
			//for(var i = 0; i < dataset.length; i++) {
			//	var newColor = randomColor()
			//	colors.push(newColor);
			//}
			let ctx = document.getElementById('pie');
			let pieChart = new Chart(ctx, {
				type: 'pie',
				data: {
					labels: ["Set 1", "Set 2", " Set 3"],
					datasets: [{
						label: 'Value',
						backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
						data: [4, 13, 7]
					}]
				},
				options: {
					legend: { display: false },
					title: {
					display: true,
					text: 'Proof of Concept Pie Chart'
					}
				}
			});
		}

		//var labls = ["Set 1", "Set 2", " Set 3"]
		//var dat = [4, 13, 7]

		//barGraph(dat, labls);
		//pieGraph(dat, labls);
		barGraph()
		pieGraph()

	</script> #}
</div>
