.access-pass,
.not-loggedin {
    max-width: 65%;
    margin: 0 auto;
}

.access-pass:hover,
.access-pass__title:hover {
    cursor: pointer;
}

.access-pass__title,
.not-loggedin__title {
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 12px 0;
    background-color: #0058B3;
    font-weight: bold;
}

.access-pass__content,
.not-loggedin__unavailable {
    display: none;
    background-color: #E9E5DF;
    text-align: center;
    padding: 16px 0 32px 0;
}

.access-pass__content__qr-code {
    margin: 24px 0;
}

.access-pass__content__coupon-code__text {
    font-weight: initial;
}
.access-pass__content__coupon-code__code {
    background-color: #ffffff;
    padding: 8px 16px;
}




.not-loggedin__unavailable {
    display: block;
}

.not-loggedin__unavailable__btn,
.access-pass__content__url  {
    background-color: #0058B3;
    color: #ffffff;
    margin: 16px;
    display: inline-block;
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 8px;
}