.access-pass,
.not-loggedin {
    margin: 0 auto;
}

.access-pass:hover,
.access-pass__title:hover {
    cursor: pointer;
}

.access-pass__title,
.not-loggedin__title,
.access-pass__title-print {
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    padding: 12px;
    background-color: #0058B3;
    font-weight: bold;
}

.access-pass__title-print,
.access-page__event-date,
.access-page__event-time {
    display: none;
}

.access-pass__content,
.not-loggedin__unavailable {
    display: none;
    background-color: #E9E5DF;
    text-align: center;
    padding: 16px 0 32px 0;
}

.access-pass__content__qr-code {
    margin: 24px 0;
}

.access-pass__content__coupon-code__text {
    font-weight: initial;
}
.access-pass__content__coupon-code__code {
    background-color: #ffffff;
    padding: 8px;
}

#download-text, 
#print-text {
    color: #09335F;
    font-weight: bold;
    padding: 0 16px;
}



.not-loggedin__unavailable {
    display: block;
}

.not-loggedin__unavailable__btn,
.access-pass__content__url  {
    background-color: #0058B3;
    color: #ffffff;
    margin: 16px;
    display: inline-block;
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 8px;
}



/** Controller page **/
.scan-pass {
    margin: 4em auto;
}

.scan-pass__title {
    font-size: 32px;
    font-weight: bold;
    margin: 32px auto;
}

.scan-pass__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scan-pass__event,
.scan-pass__snap,
.scan-pass__event-date  {
    margin: 16px 0;
}

.scan-pass__event__title,
.scan-pass__snap__title,
.scan-pass__event-date__title,
.scan-pass__info__title {
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0;
}

.scan-pass__event__value,
.scan-pass__snap__value,
.scan-pass__event-date__value {
    background-color: #e9ecef;
    padding: 8px;
    padding-left: 8px;
}

.scan-pass__faq,
.scan-pass__info {
    margin: 24px 0;
}
.scan-pass__faq a {
    color: #0058B3;
}



/** media queries **/
@media (min-width: 768px) { 
    .access-pass,
    .not-loggedin {
        display: inline-block;
    }

    .access-pass__content,
    .not-loggedin__unavailable {
        padding: 16px;
    }
}

@media (min-width: 1400px) {
    .access-pass,
    .not-loggedin {
        width: 70%;
    }
}


/** PRINT **/
@media print {
    /** To Hide **/
    div.layout__region--first,
    header.mdl-layout__header,
    .racf-footer,
    .access-pass__top-text,
    .access-pass__bottom-text,
    .access-pass__title,
    .tabs,
    .messages,
    .messages--status,
    #access-pass-url-btn  {
        display: none;
    }

    div.access-pass-btns {
        display: none !important;
    }


    div.access-pass__content__coupon-code {
        display: none !important;
    }


    /** To show **/
    .access-pass__title-print,
    .access-page__event-date,
    .access-page__event-time {
        display: block;
        text-align: left;
    }

    .access-pass__title-print {
        border-bottom: 2px solid black;
    }
}