/** Content type: Event & General Event **/
/** Event & General Event are displayed using a block layout **/
.event,
.general-event {
    font-weight: bold;
    margin-bottom: 16px;
    padding: 24px;

    .block-field-blocknodeeventtitle,
    .block-field-blocknodegeneral-eventtitle {
        font-size: $md-heading5-size;
        line-height: 1.25;
    }

    .block-field-blocknodeeventfield-date {
        margin: 16px 0;

        .field--type-daterange {
            font-size: $md-heading6-size;
        }
    }

    .block-field-blocknodeeventfield-time {
        margin-bottom: 24px;

        .field--type-time-range {
            font-size: $md-heading6-size;
        }
    }

    .block-field-blocknodeeventfield-event-image,
    .block-field-blocknodegeneral-eventfield-event-image {
        overflow: hidden;
    }

    .block-field-blocknodeeventbody,
    .block-field-blocknodegeneral-eventbody {
        margin-top: 16px;
        margin-bottom: 32px;

        h3 {
            margin-bottom: 0;
        }
    }
}


/** Media Queries **/
@include media-breakpoint-up(md) {  
    .event,
    .general-event  {
        // padding: 24px;
        // padding-left: 32px;

        .block-field-blocknodeeventtitle,
        .block-field-blocknodegeneral-eventtitle {
            font-size: $md-heading4-size;
            margin-bottom: 16px;
        }

        .block-field-blocknodeeventfield-date {
            margin-top: 24px;
    
            .field--type-daterange {
                font-size: $md-heading5-size;
            }
        }

        .block-field-blocknodeeventfield-time {
            .field--type-time-range {
                font-size: $md-heading5-size;
            }
        }
    }
}
