/** Content type: Event **/
/** Event is displayed using a block layout **/
.event {
    font-weight: bold;
    margin-bottom: 16px;
    padding: 8px;

    .block-field-blocknodeeventtitle {
        font-size: $md-heading5-size;
        line-height: 1.25;
    }

    .block-field-blocknodeeventfield-date {
        margin: 16px 0;

        .field--type-daterange {
            font-size: $md-heading6-size;
        }
    }

    .block-field-blocknodeeventfield-time {
        margin-bottom: 24px;

        .field--type-time-range {
            font-size: $md-heading6-size;
        }
    }

    .block-field-blocknodeeventfield-event-image {
        overflow: hidden;
    }

    .block-field-blocknodeeventbody {
        margin-top: 16px;
        margin-bottom: 32px;

        h3 {
            margin-bottom: 0;
        }
    }
}



// @include media-breakpoint-up(xs) {  

// }

@include media-breakpoint-up(md) {  
    .event {
        padding: 24px;

        .block-field-blocknodeeventtitle {
            font-size: $md-heading4-size;
        }

        .block-field-blocknodeeventfield-date {
            margin-top: 24px;
    
            .field--type-daterange {
                font-size: $md-heading5-size;
            }
        }

        .block-field-blocknodeeventfield-time {
            .field--type-time-range {
                font-size: $md-heading5-size;
            }
        }
    }
}

// @include media-breakpoint-up(lg) {  

// }

