/** Custom Block: Information Section **/
.information-section-left, 
.information-section-right { 
    padding: $padding-large;

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;


        &__label {
            font-weight: bold;
            padding: $padding-large 0 $padding-large 0;
            font-size: $md-heading5-size;
        }
    }
}

.information-section-left { background-color: $tan; }

.information-section-right {
    background-color: $white;

    &__title {
        order: -1;
    }
}


/** Custom Block: Hero Section **/
.hero-box {
    position: relative;
    text-align: left;
    color: $white;

    &__inner-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $md-heading3-size;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &___text {
            color: $white;
            line-height: 1.5;
        }

        &__button {
            &__btn {
                @extend .white-outlined-btn;
            }
        }
    }
}


/** Custom Block: Access Partner **/
.access-partner {
    background-color: $tertiary-color;
    text-align: center;
    padding: 40px 0;

    &__label {
        font-size: $md-heading5-size;
        color: $white;
    }

    &__container {
        padding: 16px 0;

        &__row {
            div {
                margin: 8px 0;

                & > * {
                    display: inline-block;
                }
            }
        }
    }
}


/** Custom block: Get Access **/
.get-access {
    padding: 16px 24px 40px 32px;

    &__label {
        font-weight: bold;
        font-size: $md-heading5-size;
        margin: 0 15px 16px 15px;
    }

    &__container  {
        margin: 16px 0;

        &__row {
            &__body {
                // position: relative;

                // &__content {
                //     position: absolute;
                //     left: 0;
                //     bottom: 0;
                // }
            }
        }
    }
}


/** Custom Block: Events Short **/
.event-short {
    // height: 100%;
    padding-bottom: 8em;

    &__top-bar {
        background-color: $tertiary-color;
        padding: 24px;

        &__title {
            font-size: $md-heading5-size;
            color: $white;
            display: inline-block;
            text-decoration: underline;
            line-height: 32px;
        }

        &__button-div {
            text-align: center;

            &__btn {
                @extend .white-outlined-btn;
                display: inline-block;
            }
        }
    }
    
    &__list {
        background-color: $tan;
        // height: 80%;

        .view-event-short .view-content {
            padding: 16px;

            h3 { display: none; }
            
            .field-content { padding-bottom: 24px; }

            .views-row {
                background-color: #5d92ec;
                border-radius: 8px;
                padding: 4px 8px;
                margin-bottom: 16px;

                .views-field-title { 
                    font-size: $md-heading5-size; 

                    .field-content a {
                        color: black;
                    }
                }
            }
        }
    }
}


/** Custom Block: Event Short Minimal **/
.event-short-minimal {
    padding: 16px 32px 40px 24px;

    &__content {
        .view-event-short-minimal- .view-content {
            padding: 16px;

            h3 { display: none; }
            
            .field-content { padding-bottom: 24px; }

            .views-row {
                background-color: #5d92ec;
                border-radius: 8px;
                padding: 4px 8px;
                margin-bottom: 16px;

                .views-field-title { 
                    font-size: $md-heading5-size; 

                    .field-content a {
                        color: black;
                    }
                }
            }
        }
    }
}


/** Custom Block: Q and A **/
.qa-primary { background-color: $tan; }
.qa-secondary { background-color: $white; }

.qa-primary, 
.qa-secondary {
    padding: 12px 4px 0 4px;

    &__flexbox {
        padding: 8px;

        &__title {
            font-size: $md-heading5-size;
            font-weight: bold;
            margin-bottom: 16px;
        }
    }
}


/** Media Queries **/
@include media-breakpoint-up(xs) { 
    .hero-box {
        &__inner-box {
            &__text {
                font-size: $md-heading6-size;
            }

            &__button { 
                &__btn {
                    margin: $margin-large;
                }
            }
        }
    }

    .mdl-layout__drawer-button {
        display: block ;
    }
}

@include media-breakpoint-up(md) {  
    .information-section-left,  
    .information-section-right {
        &__title {
            height: 200px;
        }
    }

    .information-section-right {
        &__title {
            justify-content: flex-end;
            order: 1;
        }
    }


    .hero-box {
        text-align: left;

        &__inner-box {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: row;

            &__text {
                font-size: $md-heading4-size;
            }

            &__button {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 10em;
            }
        }
    }


    .access-partner {
        &__label { font-size: $md-heading4-size; }
    
        &__container {
            padding: 32px 0;

            &__row  {
                margin-right: 24px;
            }
        }
    }

    .get-access {
        &__container {
            &__row {
                &__body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .mdl-layout__drawer-button {
        display: none;
    }


    .event-short {
        padding: 16px 32px 40px 24px;
    }

    .qa-primary, 
    .qa-secondary {
        padding: 16px;
    
        &__flexbox { padding: 16px; }
    }
}

@include media-breakpoint-up(lg) { 
    .access-partner {
        &__label { font-size: $md-heading3-size; }
    }

    .get-access {
        &__label { font-size: $md-heading4-size; }
    }

 
    .qa-primary, 
    .qa-secondary {
        padding: 32px;
    
        &__flexbox { padding: 32px; }
    }
}

@include media-breakpoint-up(xl) { 
    .event-short {
        padding: 16px 32px 40px 24px;

        &__top-bar__title {
            font-size: $md-heading4-size;
        }

        &__list {
            .view-event-short .view-content {
                padding: 24px;

                .views-row {
                    padding: 16px;
                }
            }
        }
    }
}