/** Custom Block: Information Section **/
.information-section-left, 
.information-section-right { 
    padding: $padding-large;

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        display: flex;
        align-items: center;

        &__label {
            font-weight: bold;
            padding: $padding-large 0 $padding-large 0;
            font-size: $md-heading5-size;
        }
    }
}

.information-section-left {
    background-color: $tan; 

    &__title {
        justify-content: flex-start;
    }
}

.information-section-right {
    background-color: $white;

    &__title {
        justify-content: flex-start;
        order: -1;
    }
}





/** Hero Section Block **/
.hero-box {
    position: relative;
    text-align: left;
    color: $white;

    &__inner-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $md-heading3-size;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &___text {
            color: $white;
        }

        &__button {
            &__btn {
                color: $white;
                font-weight: bold;
                border: 2px solid $white;
                border-radius: 4px;
            }
        }
    }
}


/** Access Partner Custom Block **/
.access-partner {
    background-color: $black;
    text-align: center;
    padding: 40px 0;

    &__label {
        font-size: $md-heading5-size;
        color: $white;
    }

    &__container {
        padding: 16px 0;

        // &__row div {
        //     margin: 8px 0;
        // }

        // &__row div > * {
        //     display: inline-block;
        // }

        &__row {
            div {
                margin: 8px 0;

                & > * {
                    display: inline-block;
                }
            }
        }


    }
}




/** Media Queries **/
@include media-breakpoint-up(xs) { 
    .hero-box {
        &__inner-box {
            &__text {
                font-size: $md-heading6-size;
            }

            &__button { 
                &__btn {
                    margin: $margin-large;
                }
            }
        }
    }

    .mdl-layout__drawer-button {
        display: block ;
    }
}

@include media-breakpoint-up(md) {  
    .information-section-left,  
    .information-section-right {
        &__title {
            height: 200px;
        }
    }

    .information-section-right {
        &__title {
            justify-content: flex-end;
            order: 1;
        }
    }


    .hero-box {
        text-align: left;

        &__inner-box {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: row;

            &__text {
                font-size: $md-heading4-size;
            }

            &__button {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 10em;
            }
        }
    }

    /** MQ - md - Access Partner Custom Block **/
    .access-partner {
        &__label { font-size: $md-heading3-size; }
    
        &__container {
            padding: 32px 0;

            &__row  {
                margin-right: 24px;
            }
        }
    }

    .mdl-layout__drawer-button {
        display: none;
    }
}

// @include media-breakpoint-up(lg) { 
// }

// @include media-breakpoint-up(xl) { 
// }