/** CSS Styles **/
@import "../node_modules/bootstrap/scss/bootstrap";

// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";

/** Variables **/
$md-heading1-size: 96px;
$md-heading2-size: 60px;
$md-heading3-size: 48px;
$md-heading4-size: 34px;
$md-heading5-size: 24px;
$md-heading6-size: 20px;

$padding-large: 8px;
$padding-small: 4px;

$margin-large: 8px;
$margin-small: 4px;


$primary-color: #0058b3;
$secondary-color: #ffffff;
$tertiary-color: #10345c;

$black: #000000;
$tan: #ece4dc;
$white: #ffffff;


/** Usable CSS classes that use SASS vars **/
.primary { background-color: $primary-color; }
.secondary { background-color: $secondary-color;}
.secondary-text { color: $secondary-color; }

.black-text { color: $black; }

.side-margin {
    margin-left: $margin-large;
    margin-right: $margin-large;
}
.margin-lg { margin: $margin-large; }
.margin-sm { margin: $margin-small; }

.padding-lg { padding: $padding-large; }
.padding-sm { padding: $padding-small; }




/** Styles **/
*  {
    font-family: 'Open Sans', sans-serif;
}

/** Navigation and Header bar **/
nav#block-racf-main-menu,
nav#block-racf-account-menu,
nav#block-racf-main-menu--2  {
    ul li {
        list-style-type: none;
        font-size: 1rem;
        display: inline-block;
        padding: 8px;

        a {
            text-decoration: none;
            color: white;
        }

        a.is-active {
            text-decoration: underline;
        }
    }
}


/** Header from mdl components **/
.nav-header-row { padding-left: 16px; }


/** Local admin tasks **/
div#block-racf-local-tasks {
    margin: 8px 0;

    nav.tabs {
        text-align: center;

        ul.tabs {
            background-color: #ced4da;
            padding: 12px 0;

            li a {
                font-size: 16px;
                font-weight: bold;
                color: black;
            }

            li.is-active a {
                background-color: #6c757d;
                border-radius: 4px;
            }
        }
    }
}

.icon-large { font-size: 48px; }


/** Buttons **/
.white-outlined-btn {
    color: $white;
    font-weight: bold;
    border: 2px solid $white;
    border-radius: 4px;
}

/** Footer **/
.racf-footer {
    background-color: $black;
    text-align: center;
    padding: 16px;

    &__content {
        color: $white;
    }
}


/** Login, Registration, and reset password form **/
.user-login-register {
    display: flex;
    justify-content: center;
    align-items: center;

    div#block-racf-content {
        padding: 32px;
        margin: 32px 0;
        background-color: $tan;

        // input.form-text {}

        form p { display: none; }

        input { display: block; }
    }
}

.description { display: none; }

.field--type-address {
    details {
        border: none;

        summary {
            display: none;
        }

        .details-wrapper {
            padding: 0;
        }
    }
}


/** Mobile Nav **/
.mobile-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $primary-color;
    padding-top: 4px;
    z-index: 10;

    .mobile-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        &__list-item {
            &__icon, &__text {
                color: $white;
                text-align: center;
            }
        }
    }
}


/** Event calendar (/events) **/
.view-events {
    margin: 40px 32px 40px 16px;
}


/** Sections **/
.layout--twocol-section--50-50 {
    // @extend .d-flex;

    // .layout__region--first {
    //     order: 1;
    // }

    // .layout__region--second {
    //     order: -1;
    // }

    @extend .row;

    > div {
        @extend .col-12;
        @extend .col-md-6;
    }
}



@include media-breakpoint-up(xs) {
    .main-menu-desktop nav { display: none; }
    .mobile-nav__list-item__icon { display: block; }
    .mobile-nav__list-item__container { display: none; }
}

@include media-breakpoint-up(sm) {
    .main-menu-desktop nav { display: none; }
    .mobile-nav__list-item__icon { display: block; }

    .mobile-nav__list-item__container { display: none; }
    .mobile-nav__list-item__flexbox { display: block; }

}

@include media-breakpoint-up(md) {  
    .mobile-bar { display: none; }
    .main-menu-desktop nav { display: block; }
    .mobile-nav__list-item__icon { display: none; }
    .mobile-nav__list-item__flexbox { display: none; }
    .mobile-nav__list-item__container { display: block; }

    /** for later when using flex **/
    // .layout--twocol-section--50-50 {
    //     .layout__region--first {
    //         order: 1;
    //     }
    
    //     .layout__region--second {
    //         order: 2;
    //     }
    // }

    .nav-header-row {
        padding-left: 40px;
    }
}

@include media-breakpoint-up(lg) {
    .mobile-nav__list-item__flexbox { display: none; }
}

@include media-breakpoint-up(xl) {
    .mobile-nav__list-item__flexbox { display: none; }
}