/** CSS Styles **/
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/material-design-lite/src/material-design-lite.scss";

/** Variables **/
$md-heading1-size: 96px;
$md-heading2-size: 60px;
$md-heading3-size: 48px;
$md-heading4-size: 34px;
$md-heading5-size: 24px;
$md-heading6-size: 20px;

$headline: 24pt;
$title: 20pt;
$subheader: 16pt;
$body: 14pt;

$primary-color: #0058B3;
$secondary-color: #ffffff;
$tertiary-color: #09335F;
$event-list-item-background: #5F96F1;

$black: #000000;
$tan: #ece4dc;
$white: #ffffff;
$btn-background: #3A4647;


/** Usable CSS classes that use SASS vars **/
.primary { background-color: $primary-color; }
.secondary { background-color: $secondary-color;}


/** Styles **/
*  {
    font-family: 'Roboto', sans-serif;
}

/** Navigation and Header bar **/
nav#block-racf-main-menu,
nav#block-racf-account-menu,
nav#block-racf-main-menu--2  {
    ul li {
        list-style-type: none;
        font-size: 16px;
        display: inline-block;
        padding: 4px;

        a {
            text-decoration: none;
            color: white;
        }

        a.is-active {
            text-decoration: underline;
        }
    }
}


/** Header from mdl components **/
.nav-header-row { padding-left: 16px; }


/** Local admin tasks **/
div#block-racf-local-tasks {
    margin: 8px 0;
    box-shadow: 0 2px 2px 2px rgb(196, 196, 196);

    nav.tabs {
        text-align: center;

        ul.tabs {
            background-color: #ced4da;
            padding: 12px 0;

            li a {
                font-size: 16px;
                font-weight: bold;
                color: black;
            }

            li.is-active a {
                background-color: #6c757d;
                border-radius: 4px;
            }
        }
    }
}

.icon-large { font-size: 48px; }


/** Buttons **/
.white-outlined-btn {
    color: $white;
    font-weight: bold;
    border: 2px solid $white;
    border-radius: 4px;
}

/** Footer **/
.racf-footer {
    background-color: $black;
    text-align: center;
    padding: 16px;

    &__content {
        color: $white;

        & > div {
            padding: 4px 0;
        }
    }
}


/** Login, Registration, and reset password form **/
.user-login-register__content {
    margin-top: 24px;

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: $md-heading5-size;
    }

    &__form { 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 32px 0;

        #block-racf-content {
            form {
                padding: 16px;

                p {
                    display: none;
                }
            
                input { 
                    display: block; 
                }

                #edit-account {
                    #edit-pass {
                        div.password-parent,
                        div.confirm-parent {
                            max-width: 100%;
                        }
                    }
                }

                #edit-actions {
                    text-align: center;

                    input.form-submit {
                        @extend .mdl-button;
                        @extend .mdl-button--raised;
            
                        width: initial;
                        background-color: $btn-background !important;
                        color: $white;
                    }
                }

                /** Password fields **/
                #edit-pass {
                    div.form-type-password {
                        padding-bottom: 4px;
                    }
                }
            }
        }
    }
}

.description { display: none; }

.field--type-address {
    details {
        border: none;

        summary {
            display: none;
        }

        .details-wrapper {
            padding: 0;
        }
    }
}

.field--name-field-documents {
    div {
        /** one item allowed **/
        /** Before upload **/
        div.form-item {
            div.form-managed-file {
                input.form-file {
                    margin-bottom: 8px;
                }
                input.form-submit {
                    margin-left: 0;
                }
            }
        }
        /** After upload **/
        div div.form-item div.form-managed-file {
            input.form-file {
                margin-bottom: 8px;
            }
            input.form-submit {
                margin-left: 0;
            }
            span.file {
                margin-bottom: 8px;
                a {
                    color: $tertiary-color;
                }
            }
        }

        /** IF: Multiple items allowed **/
        details .details-wrapper {
            div.tabledrag-toggle-weight-wrapper,
            div.tableresponsive-toggle-columns {
                display: none;
            }

            table {
                thead {
                    display: none;
                }
                tbody tr td div.form-managed-file {
                    span.file {
                        padding-right: 16px;

                        a {
                            color: $tertiary-color;
                        }
                    }
                }
            }

            div.form-type-managed-file {
                label {
                    display: none;
                }

                div.js-form-managed-file {
                    input.form-submit {
                        margin-left: 0;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}


/** Mobile Nav **/
/** ONLY shows when on a mobile device **/
.mobile-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $primary-color;
    padding-top: 4px;
    z-index: 10;

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        &__list-item,
        &__list-item__mobile {
            padding: 0 8px;

            &__icon, &__text {
                color: $white;
                text-align: center;
            }
        }
    }
}


/** Pager **/
.pager {
    display: flex;
    justify-content: center;
    align-items: center;

    ul.pager__items {
        padding: 0;

        li a {
            color: $tertiary-color;
            font-size: 16px;
            font-weight: bold;
        }
    }
}


/** Sections **/
.layout--twocol-section--50-50 {
    @extend .row;

    > div {
        @extend .col-12;
        @extend .col-md-6;
    }
}


/** Media Queries **/
@include media-breakpoint-up(xs) {
    .main-menu-desktop nav { display: none; }

    .nnavigation__list-item__mobile__icon { display: block; }
    .navigation__list-item__desktop { display: none; }

    /** XS: User Login / Registration pages **/
    .user-login-register__content {
        #block-racf-content {
            form input {
                width: 100%;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .main-menu-desktop nav { display: none; }

    .navigation__list-item__desktop { display: none; }
    .navigation__list-item__mobile { 
        display: block; 

        &__icon {
            display: block;
        }
    }
}

@include media-breakpoint-up(md) {  
    .layout--twocol-section--50-50,
    .layout--twocol-section--33-67 {
        padding: 16px;
    }

    .mobile-bar { display: none; }
    .main-menu-desktop nav { display: block; }

    .navigation__list-item__desktop { display: block; }
    .navigation__list-item__mobile { 
        display: none; 

        &__icon {
            display: none;
        }
    }

    .nav-header-row {
        padding-left: 40px;
    }


    /** MD: User Login / Registration pages **/
    .user-login-register__content__form {
        #block-racf-content {
            background-color: $tan;
            padding: 32px;
            margin-bottom: 24px;

            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            -moz-box-shadow:    3px 3px 5px 6px #ccc;
            box-shadow:         3px 3px 5px 6px #ccc;
        }
    }
}
