/** CSS Styles **/

/** Navigation and Header bar **/
nav#block-racf-main-menu,
nav#block-racf-account-menu {
    ul li {
        list-style-type: none;
        font-size: 1rem;
        display: inline-block;
        padding: 0.5em;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

/** local tasks **/
div#block-yumster-local-tasks {
    ul li {
        list-style-type: none;
        font-size: 1rem;
        display: inline-block;
        padding: 1em;

        a {
            text-decoration: none;
            font-size: 1rem;
        }
    }
}

// .header-menus > * {
//     display: inline-block;
//     padding: 0.5em;
// }

.bottom-nav {
    // position: fixed;
    // bottom: 0;
    // left: 0;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em; 
}


/** Variables **/
/** Padding **/
$padding-large: 8px;
$padding-small: 4px;

$margin-large: 8px;
$margin-small: 4px;


$primary-color: #0058b3;
$secondary-color: #ffffff;

/** Usable CSS classes that use SASS vars **/
.primaryBackground {
    background-color: $primary-color;
}
.secondaryBackground {
    background-color: $secondary-color;
}

.secondaryTextColor {
    color: $secondary-color;
}

.side-margin {
    margin-left: $margin-large;
    margin-right: $margin-large;
}


